# Dependencies
node_modules
**/node_modules

# Build output
dist
**/dist
tmp

# Git
.git
.gitignore

# Editor / OS
.vscode
.idea
.DS_Store
Thumbs.db

# Logs
*.log

# pnpm store
.local
.cache

# Test / coverage
coverage
